section.about-wrapper
  .container
    .row.wow.slideInLeft(data-wow-delay="1s")
      .col-12.about-top
        .about-top__text
          p Занятия по <span>ГИМНАСТИКЕ</span> для вашего ребенка
          button.link(data-modal="#training-schedule") Посмотреть расписание тренировок
    .row.wow.slideInUp(data-wow-delay="1s")
      .col-12.form-wrapper
        h3 Запишитесь на пробное занятие
        form.row#form-main
          .col-12.col-sm-6.col-md-4.col-lg-3
            input.form-item(placeholder="Ваше имя", name="name")
          .col-12.col-sm-6.col-md-4.col-lg-3
            input.form-item(placeholder="Телефон", name="phone")
          .col-12.col-sm-6.col-md-4.col-lg-3
            select.form-item(name="age")
              option(data-display='Возраст ребенка')
          .col-12.col-sm-6.col-md-12.col-lg-3
            button.form-item.submit_form Записаться
          .col-12.form-policy
            input(type="checkbox" id="policy", checked)
            label(for="policy")
              | Нажимая кнопку «Записаться» я соглашаюсь на обработку &nbsp;
              a(href="privacy_policy.pdf", target="_blank") персональных данных
          picture
            source(data-srcset=require("../img/foto-girl.webp"), type="image/webp")
            img.foto-girl.wow.fadeIn.lazyload(data-src=require("../img/foto-girl.png"), data-wow-delay="2s")
    .v-100
      .row
        .col-12.about-content.bg--dark
          h2.text--center Немного о нас
          .row
            .col-12.col-sm-4.col-lg-6.about-content__img
              picture
                source(data-srcset=require("../img/about2.webp"), type="image/webp")
                img.round.wow.fadeIn.lazyload(data-src=require("../img/about2.jpg"))
              picture
                source(data-srcset=require("../img/about3.webp"), type="image/webp",
                    media='(min-width: 576px) and (max-width: 991px)')
                source(data-srcset=require("../img/about3.jpg"),
                    media='(min-width: 576px) and (max-width: 991px)')
                img.round.lazyload(data-src="")
              picture
                source(data-srcset=require("../img/about4.webp"), type="image/webp",
                    media='(max-width: 575px)')
                source(data-srcset=require("../img/about4.jpg"),
                    media='(max-width: 575px)')
                img.round.about-content__img_mobile.lazyload(data-src="")
            .col-12.col-sm-8.col-lg-6
              ul.formatted__text
                li.wow.fadeIn(data-wow-delay="0.5s")
                  div
                    h4 Занятия проходят в формате <span>развивающей гимнастики</span>
                    p Включают элементы спортивной гимнастики, акробатики, прыжков на батуте, растяжки
                li.wow.fadeIn(data-wow-delay="0.8s")
                  div
                    h4 <span>12 Гимнастических Центров</span> в разных районах Москвы
                    p Вы можете выбрать удобный для вас филиал
                li.wow.fadeIn(data-wow-delay="1.1s")
                  div
                    h4 <span>Премиальное</span> оборудование
                    p Обеспечит комфорт и безопасность на занятиях
                li.wow.fadeIn(data-wow-delay="1.3s")
                  div
                    h4 <span>Специальная программа</span> для детей с ментальными нарушениями
                li.wow.fadeIn(data-wow-delay="1.5s")
                  div
                    h4 Занятия для детей <span>от 1 года и взрослых</span>
                li.wow.fadeIn(data-wow-delay="1.7s")
                  div
                    h4 <span>Удобное расписание</span>
                    p Занятия легко включить в свой график
  picture
    source(data-srcset=require("../img/about3.webp"), media='(min-width: 1199px)', type="image/webp")
    source(data-srcset=require("../img/about3.jpg"), media='(min-width: 1199px)')
    img.float-img.float-img__1.round.wow.fadeIn.lazyload(data-src="", data-wow-delay="1s")
  picture
    source(data-srcset=require("../img/about4.webp"), media='(min-width: 1199px)', type="image/webp")
    source(data-srcset=require("../img/about4.jpg"), media='(min-width: 1199px)')
    img.float-img.float-img__2.round.wow.fadeIn.lazyload(data-src="", data-wow-delay="1s")
