footer.footer
  .footer__top
    .container
      .row
        .col-12.bg--dark
          h2.wow.slideInLeft У Вас остались вопросы?
          p.wow.slideInLeft(data-wow-delay=".3s") Оставьте заявку и наш менеджер ответит на все ваши вопросы
          button.wow.slideInLeft(data-wow-delay=".5s", data-modal="#callback", data-modal-text-button="Записаться", data-modal-title="Записаться на занятия") Записаться
          picture
            source(data-srcset=require("../img/footer-girl.webp"), media="(min-width: 768px)", type="image/webp")
            source(data-srcset=require("../img/footer-girl.png"), media="(min-width: 768px)")
            img.footer-img.wow.fadeIn.lazyload(data-wow-delay="2s", data-src="")
          picture
            source(data-srcset=require("../img/footer-boy.webp"), media="(max-width: 767px)", type="image/webp")
            source(data-srcset=require("../img/footer-boy.png"), media="(max-width: 767px)")
            img.footer-img-mobile.lazyload(data-src="")
  .footer__bottom-wrapper
    .container
      .row.footer-bottom.bg--dark
        .col-md-4.footer-logo-wrapper
          a.logo
            img.lazyload(data-src=require("../img/logo-footer.png"), alt="Company logo",
                data-srcset=require("../img/logo-footer@2x.png") + ' 2x,' + require("../img/logo-footer@3x.png") + ' 3x')
        .col-md-4.developer-info-wrapper
          a.footer__logo(href='http://pride-media.ru/', target='_blank')
            button.link.footer__logo-title.footer__logo-title--index Сайт разработан
            .footer__logo-img
              svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 511.29 184.21')
                g(id='Слой_2', data-name='Слой 2')
                  g(id='Слой_1-2', data-name='Слой 1')
                    path.cls-1(d='M191.12,109.33c-7.5-8-15.11-15.91-22.91-23.63a7.58,7.58,0,0,1-1.88-2.87,96.44,96.44,0,0,0-9-17.48c-2.93-4.77-7.28-8.23-11.34-12q-3.51-3.23-7.12-6.34l-.94-4.72s2.26-17.73-7.92-29.7c-1.18,6.74-.9,10.42-5.56,19.19-4.38-15.42-9.62-23.9-20.65-26.31a13.25,13.25,0,0,1,4.38,12A51.52,51.52,0,0,0,69.58,0a49.48,49.48,0,0,0-40,19.66,42.49,42.49,0,0,1,9.34-2C29.84,24,13.81,34.42,9.85,47.43a21.67,21.67,0,0,1,11-.7,36.51,36.51,0,0,0-12,19.46C6.17,78.5,4.81,96.7,0,100.94a20.88,20.88,0,0,0,16-3.35C24.09,92.13,36.29,80.9,33.65,62c5.85,19.8-10.32,35.83-23.9,40.49-2.45.84-9.75,1.19-9.75,1.19s13.52,10.56,29.88,1.6c3.9-2.13,6.81-5.75,9.05-9.81-1.58,5.14-2.85,8.13-8.11,11.51-11.6,7.44-25,3.19-29.53.32,4,8.72,31.27,11.84,39.53-.42,4.89-7.26,4.86-24.19,15.09-28.1C52,82.72,48.45,88.43,46.29,98,45.1,103.23,40.55,118.15,18,117,7.39,116.52,1,111.44,1,111.44S10.27,131,31.39,130.6c17,0,24.31-15.94,26.69-22.43,2.07-5.66,8-9.25,8-9.25s-5.21,4.61-8.7,14.76c-4.34,12.64-20.92,29.8-49.35,12.4,10.89,20.61,22.84,21.61,34.64,19.76,7.35-1.16,17.15-9.9,20.77-20.89s12.82-19,12.82-19c-6.22,8.2-8.48,11.48-13,24.72-7.16,20.83-29,24.66-45.64,13.78,0,0,21,30.57,54.52,15.86,10.23-4.49,17.65-17.3,17.73-33.33.09-20,5.28-23,5.28-23s-4.34,6-3.21,18.86c.55,6.23,2.17,31.35-22,41.49-16.83,7.07-32.13-.4-32.13-.4S47,179.33,69.16,176.94C84,175.35,89,169.75,94.73,162.48c4-5.06,7.66-14,8.47-24A36,36,0,0,1,98.4,161c-4.48,7.56-12.73,18.21-32.62,18.33,3.79,3.67,20,5.94,34.26-8.34,0,0,10.39-8.54,11.33-25.33S108,121.07,102,103.54s0-20,0-20-3.63,7.54,1.84,18.86,10.75,26.18,9.42,43.47C111.55,167.79,99.58,178.66,82,183.2c3.39,1.53,8.88,1.28,15.39-.49,16.06-4.36,21.74-18.33,22.51-30.14,2.28,8.47-1.43,17.49-9.19,24.34,25-3,18.25-30.52,18.25-30.52,4.17,1.62,11.38,4.5,14.8,7.3a37,37,0,0,0,17.85,8.14c5.84.93,10.71-1,14.83-5.16,6.85-6.86,8.65-15.3,7.65-24.58-.14-1.3.14-1.8,1.39-2.23,2.54-.88,4.1-2.94,5.27-5.26A25.29,25.29,0,0,0,193.13,114,6.32,6.32,0,0,0,191.12,109.33ZM37.81,29.52C46,21.18,55.62,15.18,67.17,12.83c8.66-1.77,17.06-.26,25.11,3.26.29.13.56.28.84.44,0,0,.06.09.2.33a29.48,29.48,0,0,1-9.43-.18c-16-2.35-30.16,2-42.9,11.58-1.69,1.28-3.33,2.61-4.9,4-.31.29-.52.84-1.37.59C35.79,31.7,36.77,30.58,37.81,29.52ZM101.06,29a22.11,22.11,0,0,1-4.73.33c-9.1-.39-18.2-.92-27.31-1.13-7.46-.17-14.94-.07-22.26,1.81a4.05,4.05,0,0,1-.94.08,1.45,1.45,0,0,1-.43-.15C59.47,24,93.49,23.35,101.06,29ZM75.29,80.23l0-.16.16.09Zm-3-24.3c-1.27,5.85-.46,11.58.91,17.29.55,2.29,1.57,4.43,2,6.76a6.42,6.42,0,0,1-2.54-2.58,31.2,31.2,0,0,1-4.59-22c.92-6.17,5.1-9.06,11.33-8.5A27.09,27.09,0,0,1,89,49.18a4,4,0,0,1,1.62,1.31L87.82,50A23.72,23.72,0,0,0,78,50,7.24,7.24,0,0,0,72.29,55.93Zm15.85,1.6c-4.69-.46-7.16,2.5-5.74,7A31.47,31.47,0,0,0,88.5,74.87a3.23,3.23,0,0,1,1.09,1.75c-5.23-2.81-9.1-6.43-10.39-12.25a9.19,9.19,0,0,1,0-3.94,5.57,5.57,0,0,1,5-4.56,10.73,10.73,0,0,1,7,1.82A11.23,11.23,0,0,1,88.14,57.53ZM89,38.22c-5.59.11-16.31-2.73-27.06-3s-22,3.81-25.54,6.2c-4.17,2.78-7.24,8.69-8.85,15.11-1.35,5.4-.82,7.09-1.38,12.49a49.91,49.91,0,0,1-5.44,16.28c-4.36,7.8-10.09,9-10.09,9s3.85-2.18,7.56-8.43C21,81,22.82,78.09,24.23,63.32c1.13-11.9,3.7-19,10.53-24s28.49-7,41.91-4.86c8.82,1.4,9.26,1.58,13.42,1.73s10.67-1.36,15.71-2.44C105.8,33.75,99.58,38,89,38.22Zm60.59,108.87a30.22,30.22,0,0,0-5-3.27c-5.73-3.47-5.26-3.11-9-5.37a19.58,19.58,0,0,1-2.25-1.12c3.43-5.32,2.87-11,1.44-16.65-2.42-9.6-8.67-15.74-17.87-19.05-.08,0-.13-.14-.35-.39A27.66,27.66,0,0,1,125.4,104c8.12,3.85,11.67,10.84,13.1,19.23a25.08,25.08,0,0,1-.22,10.57c-.21.82.26,1.47,1.1,2.24a58,58,0,0,0,8.71,7.06c.75.74,1.12.87,1.38,2.13A2.86,2.86,0,0,1,149.55,147.09ZM130.9,78.7a39.29,39.29,0,0,1,26.3-.51c-4.12-9.47-9.41-17.79-16.83-24.76,2.09,0,10.3,7.76,14,13.12,4.43,6.33,7.82,13.44,8.29,17.51a39.19,39.19,0,0,0-10.46-3.55,66.17,66.17,0,0,0-8.32-1c5.09,3.1,8.21,7.37,8.66,13.46C148.77,83.18,140.77,79.93,130.9,78.7Zm45.45,68.35a14.55,14.55,0,0,1-16.24,5.64,5.16,5.16,0,0,1-2.29-1.33c1.84-.12,3.55-.21,5.25-.35a13.76,13.76,0,0,0,11-7.09,108.66,108.66,0,0,0,5.64-11.56C179.8,137.54,179.29,142.58,176.34,147.05Zm10.86-27.27a25.36,25.36,0,0,1-4.05,6.24c-.62.71-1.31,1.23-2.12.33-.61-.67-1.36-1.3,0-2.25s.8-2.58-.78-3.11a24.35,24.35,0,0,1-4.59-2.16c-2.27-1.35-3.1-3.47-3.45-6.06a17.39,17.39,0,0,0,5.46,1.93c2.3.29,3.36-1,2.69-3.24a8.85,8.85,0,0,0-1.71-2.84A216.42,216.42,0,0,0,164,91.41c-.13-.14-.24-.3-.38-.46a1.14,1.14,0,0,1,1.24.19c6.19,4.54,12.57,8.85,18.18,14.15a17.53,17.53,0,0,1,4.13,5.58A10.45,10.45,0,0,1,187.2,119.78Z')
                    path.cls-1(d='M260.36,55.65H235V66.59h6.28l-3.59,3.88v38.08h14.66V93.43h7.26c13.15,0,22.75-6.58,22.75-19C282.36,62.52,273.74,55.65,260.36,55.65Zm-1.06,26.3h-7V68h6.88c5.29,0,8.47,2.42,8.47,7C267.69,79.23,264.52,81.95,259.3,81.95Z')
                    path.cls-1(d='M335.27,90.11c6.58-2.8,10.88-8.16,10.88-16.25,0-5.37-1.59-9.45-4.69-12.55-3.55-3.55-9.15-5.67-17.23-5.67H296.35V66.59h2.88v0l0,0h3.59l-3.59,3.88h0v38.09h14.66v-16h6.42l10.66,16h16.93ZM323.56,81h-9.67V68.34h9.6c4.91,0,7.94,2.12,7.94,6.27C331.42,78.62,328.55,81,323.56,81Z')
                    polygon.cls-1(points='371.75 55.65 365.2 55.65 362.32 55.65 362.32 66.59 365.2 66.59 365.2 66.64 365.26 66.59 368.85 66.59 365.26 70.47 365.2 70.46 365.2 108.55 379.94 108.55 379.94 55.65 371.75 55.65')
                    path.cls-1(d='M421.69,55.65H398.4V66.59h6.44l-3.57,3.85v38.11h20.1c19,0,30.16-11.34,30.16-26.6C451.54,66.53,440.58,55.65,421.69,55.65Zm.23,39.9h-6V68.49h6c8.77,0,14.59,5.06,14.59,13.53C436.5,90.71,430.68,95.55,421.91,95.55Z')
                    polygon.cls-1(points='482.87 96.08 482.87 87.69 508.26 87.69 508.26 76.13 482.87 76.13 482.87 68.12 510.91 68.12 510.91 55.65 473.63 55.65 468.36 55.65 465.49 55.65 465.49 66.59 468.36 66.59 468.36 66.61 468.38 66.59 471.97 66.59 468.38 70.47 468.36 70.46 468.36 108.55 511.29 108.55 511.29 96.08 482.87 96.08')
                    path.cls-1(d='M237.75,118.84h3.13l5.1,7.92,5.1-7.92h3.14v16.75h-2.94v-12l-5.29,7.9h-.1l-5.24-7.85v12h-2.9Z')
                    path.cls-1(d='M261.2,118.84h12.42v2.63h-9.48v4.36h8.4v2.63h-8.4V133h9.6v2.63H261.2Z')
                    path.cls-1(d='M279.74,118.84H286c5.27,0,8.9,3.61,8.9,8.38s-3.64,8.38-8.9,8.38h-6.25ZM286,132.91a5.7,5.7,0,1,0,0-11.39h-3.3v11.39Z')
                    path.cls-1(d='M301,118.84h2.94v16.75H301Z')
                    path.cls-1(d='M315.83,118.72h2.73l7.37,16.87h-3.11l-1.7-4h-7.92l-1.72,4h-3ZM320,128.94l-2.9-6.7-2.87,6.7Z')

        .col-md-4.info-wrapper
          .info
          a.info__phone(href="tel:+74956488808")
            svg#Capa_1.icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='348.077px', height='348.077px', viewbox='0 0 348.077 348.077', style='enable-background:new 0 0 348.077 348.077;', xml:space='preserve')
              g
                g
                  g
                    path(d='M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076\
                                                    c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257\
                                                    c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194\
                                                    C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02\
                                                    C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876\
                                                    c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029\
                                                    C350.631,303.527,350.95,285.795,340.273,275.083z')
            | &nbsp;+7 (495) 648 88 08
          button.link(data-modal="#callback", data-modal-title="Заказать обратный звонок",
              data-modal-text-button="Заказать") Обратный звонок
