#callback.modal
  .row
    .col-12.form-wrapper
      h2.title Заказать обратный звонок
      form.row.form-modal
        .col-12
          input.form-item(placeholder="Ваше имя", name="name")
        .col-12
          input.form-item(placeholder="Ваш телефон", type="phone", name="phone")
        .col-12
          button.form-item.submit ЗАКАЗАТЬ
        .col-12.form-policy
          input(type="checkbox", id="policy-callback", name="policy", checked)
          label(for="policy-callback")
            | Нажимая кнопку «Заказать» я соглашаюсь на обработку &nbsp;
            a(href="privacy_policy.pdf", target="_blank") персональных данных
        input(hidden, value="Заказать обратный звонок", name="title")

#training-schedule.modal
  .row
    .col-12.form-wrapper
      h2.title Получите расписание тренировок
      form.row.form-modal
        .col-12
          input.form-item(placeholder="Ваше имя", name="name")
        .col-12
          input.form-item(placeholder="Ваш e-mail", type="email", name="email")
        .col-12
          input.form-item(placeholder="Ваш телефон", type="phone", name="phone")
        .col-12
          button.form-item.submit Получить расписание
        .col-12.form-policy
          input(type="checkbox" id="policy-training-schedule" name="policy", checked)
          label(for="policy-training-schedule")
            | Нажимая кнопку «Получить расписание» я соглашаюсь на обработку &nbsp;
            a(href="privacy_policy.pdf", target="_blank") персональных данных
        input(hidden, value="Получите расписание тренировок", name="title")

#obtain-estimate.modal
  .row
    .col-12.form-wrapper
      h2.title Получите физическую оценку вашего ребенка
      form.row.form-modal
        .col-12
          input.form-item(placeholder="Ваше имя", name="name")
        .col-12.form-item-select
          select.form-item
            option(data-display='Возраст ребенка')
        .col-12
          input.form-item(placeholder="Ваш телефон", type="phone", name="phone")
        .col-12
          button.form-item.submit Записаться
        .col-12.form-policy
          input(type="checkbox" id="policy-obtain-estimate" name="policy", checked)
          label(for="policy-obtain-estimate")
            | Нажимая кнопку «Записаться» я соглашаюсь на обработку &nbsp;
            a(href="privacy_policy.pdf", target="_blank") персональных данных
        input(hidden, value="Получите физическую оценку вашего ребенка", name="title")

#successSubmit.modal
  .row
    .col-12.modal-success-content
      h2.title Спасибо, что оставили заявку на нашем сайте!
      p В ближайшее время наш менеджер свяжется с вами.
