section.our-classes-wrapper.wow.fadeIn(data-wow-duration="1s")
  .container
    .row.workout-wrapper
      .col-12
        h2.text--center.wow.fadeIn(data-wow-delay="0.5s") 3 вида тренировок
        .row
          .col-12.col-lg-4
            .workout.wow.fadeIn(data-wow-delay="0.7s")
              .workout__icon
                svg(xmlns='http://www.w3.org/2000/svg', width='48', height='48', viewBox='0 0 48 48')
                  path.cls-1(d='M23.00049,9A3.5,3.5,0,1,1,26.5,5.5,3.50425,3.50425,0,0,1,23.00049,9Zm0-5A1.5,1.5,0,1,0,24.5,5.5,1.50164,1.50164,0,0,0,23.00049,4Z')
                  path.cls-1(d='M23.00049,48a.99974.99974,0,0,1-1-1V35a1,1,0,0,1,2,0V47A.99974.99974,0,0,1,23.00049,48Z')
                  path.cls-1(d='M19.00049,48a.99974.99974,0,0,1-1-1L18,18a1,1,0,0,1,2,0l.00049,29A.99974.99974,0,0,1,19.00049,48Z')
                  path.cls-1(d='M24.99561,38a2.993,2.993,0,0,1-2.99512-3.10645V26a1,1,0,0,1,2,0v8.89355a1.08364,1.08364,0,0,0,.82422,1.0918A1.00033,1.00033,0,0,0,26,35V17a1,1,0,0,1,2,0V35a3.00031,3.00031,0,0,1-3.00439,3Z')
                  path.cls-1(d='M29.00586,29.10645A2.99878,2.99878,0,0,1,26,26.10742V18a1,1,0,0,1,2,0v8.10742a1.00178,1.00178,0,0,0,1.17578.98535A1.084,1.084,0,0,0,30,26V16a3.00328,3.00328,0,0,0-3-3H19a3.00328,3.00328,0,0,0-3,3v5.89258a1.08388,1.08388,0,0,0,.82471,1.09277A1.00089,1.00089,0,0,0,18,22V18a1,1,0,0,1,2,0v4a3.0021,3.0021,0,0,1-3.49658,2.96A3.08447,3.08447,0,0,1,14,21.89258V16a5.00589,5.00589,0,0,1,5-5h8a5.00589,5.00589,0,0,1,5,5V26a2.9869,2.9869,0,0,1-2.99414,3.10645Z')
                  path.cls-1(d='M17,25a3,3,0,1,1,3-3A3.00328,3.00328,0,0,1,17,25Zm0-4a1,1,0,1,0,1,1A1.001,1.001,0,0,0,17,21Z')
                  path.cls-1(d='M43,13a3.5,3.5,0,1,1,3.5-3.5A3.50425,3.50425,0,0,1,43,13Zm0-5a1.5,1.5,0,1,0,1.5,1.5A1.50164,1.50164,0,0,0,43,8Z')
                  path.cls-1(d='M43,48a.99942.99942,0,0,1-1-1V39a1,1,0,0,1,2,0v8A.99942.99942,0,0,1,43,48Z')
                  path.cls-1(d='M47,48a.99942.99942,0,0,1-1-1V22a1,1,0,0,1,2,0V47A.99942.99942,0,0,1,47,48Z')
                  path.cls-1(d='M41.00391,42A3.00031,3.00031,0,0,1,38,39l-.001-18a1,1,0,0,1,2,0L40,39a1.00021,1.00021,0,0,0,1.1748.98535A1.08343,1.08343,0,0,0,42,38.89355V30a1,1,0,0,1,2,0v8.89355A3.08346,3.08346,0,0,1,41.49707,41.96,3.11932,3.11932,0,0,1,41.00391,42Z')
                  path.cls-1(d='M36.99414,29.10645A2.9879,2.9879,0,0,1,34,26V20a5.00589,5.00589,0,0,1,5-5h5a1,1,0,0,1,0,2H39a3.00328,3.00328,0,0,0-3,3v6a1.08377,1.08377,0,0,0,.8252,1.09277A1.00155,1.00155,0,0,0,38,26.10742V22a1,1,0,0,1,2,0v4.10742a2.99878,2.99878,0,0,1-3.00586,2.999Z')
                  path.cls-1(d='M37,29a3,3,0,1,1,3-3A3.00328,3.00328,0,0,1,37,29Zm0-4a1,1,0,1,0,1,1A1.00068,1.00068,0,0,0,37,25Z')
                  path.cls-1(d='M47,48H1a1,1,0,0,1,0-2H47a1,1,0,0,1,0,2Z')
                  path.cls-1(d='M4.5,15a3,3,0,1,1,3-3A3.00328,3.00328,0,0,1,4.5,15Zm0-4a1,1,0,1,0,1,1A1.001,1.001,0,0,0,4.5,11Z')
                  path.cls-1(d='M5,48a.99974.99974,0,0,1-1-1V30a1,1,0,0,1,2,0V47A.99974.99974,0,0,1,5,48Z')
                  path.cls-1(d='M1,48a.99974.99974,0,0,1-1-1V30.00391a1,1,0,0,1,2,0V47A.99974.99974,0,0,1,1,48Z')
                  path.cls-1(d='M7.00391,39A3.00031,3.00031,0,0,1,4,36a1,1,0,0,1,2,0,1.00089,1.00089,0,0,0,1.17529.98535A1.08388,1.08388,0,0,0,8,35.89258V29a.99974.99974,0,0,1,1-1,1.001,1.001,0,0,0,1-1V19.98926a2.00229,2.00229,0,0,0-2-2H4.00684a1,1,0,0,1,0-2H8a4.00427,4.00427,0,0,1,4,4V27a3.0062,3.0062,0,0,1-2,2.8291v6.06348A3.08447,3.08447,0,0,1,7.49658,38.96,3.10857,3.10857,0,0,1,7.00391,39Z')
                  circle.cls-1(cx='1', cy='17', r='1')
                  circle.cls-1(cx='47', cy='16', r='1')

              .workout__text
                h3.mb-0 Групповые
                button.link(data-modal="#callback", data-modal-title="Групповые тренировки",
                    data-modal-text-button="Узнать подробнее") Подробнее
          .col-12.col-lg-4
            .workout.wow.fadeIn(data-wow-delay="1s")
              .workout__icon
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 48 48', style='enable-background:new 0 0 48 48;', xml:space='preserve')
                  g
                    path.st0(d='M21,25c-0.6,0-1-0.4-1-1c0-0.9-0.6-1.8-1.4-2.2L12,19.1v-3.8l0.9-0.8c0.9-0.6,1.3-1.6,1.3-2.6V9.4\
                    c0-1.7-1.2-3.2-2.9-3.4C9.6,5.8,8.1,7.1,7.9,8.9c0,0.1,0,0.2,0,0.3v2.7c0,1.6,1.2,2.9,2.7,3.2c0.5,0.1,0.9,0.6,0.8,1.1\
                    c-0.1,0.5-0.6,0.9-1.1,0.8c-2.5-0.4-4.5-2.6-4.5-5.1V9.2c0-0.2,0-0.3,0-0.5C6.2,5.8,8.7,3.7,11.6,4c2.7,0.3,4.7,2.6,4.7,5.4v2.5\
                    c0,1.6-0.8,3.2-2.1,4.1L14,16.2v1.6l5.4,2.2c1.6,0.7,2.6,2.3,2.6,4C22,24.5,21.6,25,21,25z')
                  g
                    path.st0(d='M5,45.4H1.2L0,42.9V24c0-1.7,1-3.3,2.6-4L8,17.8v-2.6h2v3.9l-6.6,2.7C2.6,22.2,2,23,2,24v18.5l0.5,0.9H5V45.4z\
                    ')
                  g
                    rect.st0(x='4', y='27', width='2', height='21')
                  g
                    path.st0(d='M12,42H5c-0.6,0-1-0.4-1-1s0.4-1,1-1h7c0.6,0,1,0.4,1,1S12.6,42,12,42z')
                  g
                    rect.st0(x='10.1', y='44', width='2', height='4')
                  g
                    path.st0(d='M34,48h-2v-4.5c0-1.1-0.6-2.2-1.7-2.7L25,38.1v-3.3l0.5-0.3C26.4,34,27,33.1,27,32v-1.8c0-1.6-1.1-3-2.7-3.2\
                    c-0.8-0.1-1.6,0.2-2.2,0.7c-0.6,0.5-1,1.2-1.1,2c0,0.1,0,0.2,0,0.3v2c0,1.1,0.6,2,1.5,2.6l0.5,0.3v3.3l-5.3,2.7\
                    c-1,0.5-1.7,1.5-1.7,2.7V48h-2v-4.5c0-1.9,1.1-3.6,2.8-4.5l4.2-2.1V36c-1.2-0.9-2-2.4-2-4v-2c0-0.2,0-0.3,0-0.5\
                    c0.3-2.7,2.7-4.8,5.5-4.5c2.6,0.3,4.6,2.5,4.5,5.2V32c0,1.6-0.8,3.1-2,4v0.9l4.2,2.1c1.7,0.9,2.8,2.6,2.8,4.5V48z')
                  g
                    g
                      path.st0(d='M34.7,6.3c-0.2-0.1-0.3-0.3-0.5-0.4c-1.3-1.5-1.1-3.7,0.3-5c0.7-0.6,1.6-0.9,2.6-0.9c0.9,0.1,1.8,0.5,2.4,1.2\
                      s0.9,1.6,0.9,2.6c-0.1,0.9-0.5,1.8-1.2,2.4l-1.3-1.5c0.6-0.6,0.7-1.5,0.1-2.1C37.8,2.2,37.4,2,37,2c-0.4,0-0.8,0.1-1.1,0.4\
                      c-0.6,0.6-0.7,1.5-0.1,2.1c0.1,0.1,0.1,0.1,0.2,0.2L34.7,6.3z')
                    g
                      path.st0(d='M44.6,48h-2v-1c0-2.9-0.4-4-1.2-6.5L41,39.2l0-3.9l1-5.8V26h2l0,3.7l-1,5.8v3.3l0.3,1\
                      c0.9,2.5,1.3,3.9,1.3,7.1V48z')
                    g
                      path.st0(d='M36.7,23.9c-0.3,0-0.5,0-0.8,0c-2.5-0.2-4.8-1.4-6.5-3.3l1.5-1.3c1.3,1.5,3.1,2.5,5.1,2.6\
                      c2,0.2,3.9-0.5,5.5-1.8c0.3-0.3,0.6-0.6,0.9-0.9l1.5,1.3c-0.3,0.4-0.7,0.8-1.1,1.1C41.1,23.1,39,23.9,36.7,23.9z')
                    g
                      path.st0(d='M32.7,11.2v-2c2.4,0,4.7-1,6.5-2.7l0.4-0.4L41,7.6L40.6,8C38.5,10.1,35.7,11.2,32.7,11.2z')
                    g
                      path.st0(d='M42,40h-6c-0.6,0-1-0.4-1-1s0.4-1,1-1h6c0.6,0,1,0.4,1,1S42.5,40,42,40z')
                  g
                    path.st0(d='M24,42c-2.2,0-4-1.8-4-4h2c0,1.1,0.9,2,2,2c1.1,0,2-0.9,2-2h2C28,40.2,26.2,42,24,42z')
                  g
                    path.st0(d='M46.6,44.8h-3.1c-0.6,0-1-0.4-1-1s0.4-1,1-1h2.3l0.3-0.3L46.1,24c0-1-0.6-1.8-1.5-2.2L38,18.6v-4.5l0.5-0.3\
                    c1-0.6,1.6-1.6,1.6-2.8V9.4c0-0.9-0.3-1.7-0.9-2.3c-0.6-0.6-1.4-0.9-2.3-0.9h0c-0.1,0-0.2,0-0.3,0c-1.7,0.2-2.9,1.6-2.9,3.3v1.5\
                    c0,1.2,0.7,2.3,1.7,2.8l0.5,0.3v4.3l-6.4,3.3C28.6,22.2,28,23.1,28,24c0,0.6-0.5,1-1,1c-0.6,0-1-0.5-1-1c0.1-1.7,1.1-3.3,2.7-4\
                    l5.3-2.7v-1.9c-1.4-1-2.3-2.5-2.3-4.3V9.6c0-2.7,2-5,4.7-5.4c0.2,0,0.4,0,0.5,0h0c1.4,0,2.7,0.5,3.7,1.5c1,1,1.5,2.3,1.5,3.7v1.7\
                    c0,1.7-0.8,3.2-2.1,4.2v2.1l5.4,2.6c1.6,0.6,2.7,2.2,2.7,4L48,43.4L46.6,44.8z')
                  g
                    path.st0(d='M36.2,16.3c-0.1,0-0.3,0-0.4-0.1l-1.2-0.5c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l1.2,0.5\
                    c0.5,0.2,0.7,0.8,0.5,1.3C36.9,16.1,36.6,16.3,36.2,16.3z')

              .workout__text
                h3.mb-0 Семейные
                button.link(data-modal="#callback", data-modal-title="Семейные тренировки",
                    data-modal-text-button="Узнать подробнее") Подробнее
          .col-12.col-lg-4
            .workout.wow.fadeIn(data-wow-delay="1.3s")
              .workout__icon
                svg(xmlns='http://www.w3.org/2000/svg', width='48', height='48', viewBox='0 0 48 48')
                  g
                    g
                      path.cls-1(d='M23.99316,7a3.5,3.5,0,1,1,3.5-3.5A3.50425,3.50425,0,0,1,23.99316,7Zm0-5a1.5,1.5,0,1,0,1.5,1.5A1.50164,1.50164,0,0,0,23.99316,2Z')
                      path.cls-1(d='M23.99316,48a1,1,0,0,1-1-1V24a1,1,0,0,1,2,0V47A1,1,0,0,1,23.99316,48Z')
                      path.cls-1(d='M19.99316,48a1,1,0,0,1-1-1V13.82813a1,1,0,1,1,2,0V47A1,1,0,0,1,19.99316,48Z')
                      path.cls-1(d='M27.94678,48a1,1,0,0,1-1-1V13.82813a1,1,0,1,1,2,0V47A1,1,0,0,1,27.94678,48Z')
                      path.cls-1(d='M29.94775,25.99951a2.99618,2.99618,0,0,1-3.001-2.99609V19a1,1,0,0,1,2,0v4.00342a.99824.99824,0,0,0,1.17139.98242,1.081,1.081,0,0,0,.82178-1.08936V12.98877a3.00328,3.00328,0,0,0-3-3H20a3.00328,3.00328,0,0,0-3,3v9.90771a1.081,1.081,0,0,0,.82178,1.08936.99824.99824,0,0,0,1.17139-.98242V19a1,1,0,0,1,2,0v4.00342a2.9981,2.9981,0,0,1-3.49268,2.95605A3.07985,3.07985,0,0,1,15,22.89648V12.98877a5.00589,5.00589,0,0,1,5-5h7.93994a5.00589,5.00589,0,0,1,5,5v9.90771a3.07985,3.07985,0,0,1-2.50049,3.063A3.04469,3.04469,0,0,1,29.94775,25.99951Z')
                    rect.cls-1(y='45.99951', width='48', height='2')

              .workout__text
                h3.mb-0 Индивидуальные
                button.link(data-modal="#callback", data-modal-title="Индивидуальные тренировки",
                    data-modal-text-button="Узнать подробнее") Подробнее
    .row.our-classes
      .col-12
        h5.subtitle.text--center Как проходят
        h2.title.text--center Наши занятия
        .row
          .col-12.col-md-6
            .video-container.video_wrapper.video_wrapper_full.js-videoWrapper
              iframe.videoIframe.js-videoIframe(width='auto', height='330', data-src='https://www.youtube.com/embed/rCfgYzlVt_I?rel=0&showinfo=0&modestbranding=1&autoplay=1', frameborder='0', allow=' encrypted-media', allowfullscreen, allowTransparency="true")
              button.videoPoster.videoPoster-1.js-videoPoster
          .col-12.col-md-6
            ul.formatted__text
              li.wow.slideInUp(data-wow-delay="0.5s")
                div
                  h4 В группе занимается <span>не более 8 человек</span>
                  p Для нас важен каждый ребенок и его успехи! Для занятий гимнастикий уровень подготовки и способности не имеют значения.
              li.wow.slideInUp(data-wow-delay="0.8s")
                div
                  h4 Возможность заниматься на <span>английском языке</span>
                  p Работаем с экспатами. Можно общаться с тренером на английском языке
              li.wow.slideInUp(data-wow-delay="1s")
                div
                  h4 <span>Семейные</span> тренировки
                  p Это прекрасная возможность для родителей весело и с пользой провести время вместе с ребенком.
    .row.our-classes-btn
      .col-12.text--center
        button(data-modal="#callback", data-modal-title="Как проходят занятия",
            data-modal-text-button="Узнать подробнее") Узнать подробнее
    .row.aspects-development-wrapper
      .col-12
        h5.subtitle.text--center Наши занятия влияют сразу на
        h2.title.text--center Несколько аспектов развития
        .row.aspects-development-block
          picture
            source(data-srcset=require("../img/aspects-girl.webp"), media='(min-width: 992px)', type="image/webp")
            source(data-srcset=require("../img/aspects-girl.png"), media='(min-width: 992px)')
            img.aspects-girl.lazyload(data-src="")
          .col-12.col-md-6
            .aspects-development.aspects-development__physical.wow.slideInLeft
              .mobile-title ФИЗИЧЕСКИЙ
              ul
                li Гармоничное физическое развитие
                li Улучшение координации
                li Развитие силы
                li Тренировка выносливости
                li Укрепление мышечного корсета
                li Формирование правильной осанки
                li Повышение гибкости
                li Крепкий иммунитет
          .col-12.col-md-6
            .aspects-development.aspects-development__intellectual.wow.slideInRight(data-wow-delay="0.5s")
              .mobile-title ИНТЕЛЛЕКТУАЛЬНЫЙ
              ul
                li Развитие мышления и логики
                li Обучения счету, цветам, фигурам
                li Познание окружающего мира
          .w-100
          .col-12.col-md-6.aspects-development__psychological-wrapper
            .aspects-development.aspects-development__psychological.wow.slideInUp(data-wow-delay="1s")
              .mobile-title ПСИХОЛОГИЧЕСКИЙ
              ul
                li Воспитание дисциплины
                li Уверенность в себе
                li Трудолюбие
                li Обретение смелости
                li Умение концентрироваться
          .col-12.col-md-6
            .aspects-development.aspects-development__social.wow.slideInRight(data-wow-delay="1.5s")
              .mobile-title СОЦИАЛЬНЫЙ
              ul
                li Социализация
                li Работа в группе
                li Взаимодействие с тренером
