section.our-location-wrapper
  .container
    .row
      .col-12
        h2.title.text--center.wow.fadeIn(data-wow-delay="0.5s") Где мы находимся
      .w-100
      .col-12.map-wrapper
        img(src=require("../img/baloon-map.png"), style="display: none")
        .address-menu-wrapper
        .map
          #map
