section.our-coaches-wrapper
  .container
    .row
      .col-12.col-lg-8.offset-lg-2.text--center.wow.fadeIn(data-wow-delay="0.5s")
        h5.subtitle > 60 тренеров
        h2.title Наши тренеры
        p У нас работают лучшие тренеры, которые умеют найти подход к каждому ребенку, заинтересовать его занятиями и мотивировать на достижение результатов
    .row.our-coaches-wrapper_desktop
      .col-12.our-coaches-img
        - var idCoach = 1
        while idCoach < 61
          i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoach++}`)
    .row.our-coaches-wrapper_mobile
      .col-12
        img(src=require("../img/arrow2-next.png"), style="display: none")
        .owl-carousel.our-coaches-carousel
          .our-coaches-carousel__item
            - var idCoachCarousel = 1
            while idCoachCarousel < 10
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
          .our-coaches-carousel__item
            while idCoachCarousel < 19
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
          .our-coaches-carousel__item
            while idCoachCarousel < 28
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
          .our-coaches-carousel__item
            while idCoachCarousel < 37
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
          .our-coaches-carousel__item
            while idCoachCarousel < 46
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
          .our-coaches-carousel__item
            while idCoachCarousel < 55
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
          .our-coaches-carousel__item
            while idCoachCarousel < 61
              .our-coaches-img-wrapper
                i.our-coaches-img__item.sprite-coaches(class=`sprite-coach-${idCoachCarousel++}`)
