section.reviews-wrapper
  .container
    .row
      .col-12
        h2.text--center.wow.fadeIn(data-wow-delay="0.5s") Отзывы о нас

        .owl-carousel.reviews-carousel
          div.text--center.reviews-item
            .reviews-item__img
              img(src=require("../img/reviews/slide-1.jpeg"))
              p.author Нина
              p.relatives мама Севы
            .reviews-item__text
              .content
                p.slide-title Благодарность тренеру, Магутину Александру <span>Локомотив</span>
                p.slide-text Выражаю искреннюю благодарность Вашему нашему тренеру Магутину Александру за профессиональную организацию спортивных занятий и расположение ребёнка. Александр провел огромную работу с Севой, смог наладить с ним доверительные отношения, привил ему стремление к здоровому образу жизни и спортивным достижениям.<br><br>На примере моего сына я вижу, что занятия с Александром не только содействовали гармоничному физическому развитию и укреплению здоровья, но и помогли ему стать более уверенным в себе. Александр, большое Вам спасибо и дальнейших профессиональных успехов.
          div.text--center.reviews-item
            .reviews-item__img
              img(src=require("../img/reviews/slide-2.jpg"))
              p.author Наталья
              p.relatives мама Тани
            .reviews-item__text
              .content
                p.slide-title СПАСИБО ЛУЧШЕМУ ТРЕНЕРУ ДМИТРИЕВОЙ ЛЕНЕ! <span>Марьино</span>
                p.slide-text Выражаем огромную благодарность любимому тренеру Дмитриевой Лене за терпение,труд,веру в детей!Какое же счастье видеть в глазах ребенка радость от занятий в любимом клубе!Самые чудесные тренеры у нас в Марьино!СПАСИБО!!!
          div.text--center.reviews-item
            .reviews-item__img
              img(src=require("../img/reviews/slide-3.jpg"))
              p.author Елена
              p.relatives мама Мирона
            .reviews-item__text
              .content
                p.slide-title ОЧЕНЬ УЮТНЫЙ ЦЕНТР! <span>Динамо</span>
                p.slide-text Наш Мирон с удовольствием ходит на занятия с 3-х лет! Нам важно, что ему нравится тренировка. Здорово оборудован зал, родителям можно присутствовать за ограждением незаметным, при этом дети не отвлекаются. Рекомендую!
          div.text--center.reviews-item
            .reviews-item__img
              img(src=require("../img/reviews/slide-4.jpg"))
              p.author Андрей
              p.relatives папа Лены
            .reviews-item__text
              .content
                p.slide-title СПАСИБО ТРЕНЕРАМ! <span>Лужники</span>
                p.slide-text Пришли заниматься полгода тому назад. Девочка домашняя, пухленькая, неподготовленная, ни координации движений, ни силы, ни особого желания заниматься. Сейчас уже может выполнять все упражнения, что и другие детишки. С желанием ходит на занятия. Фигурка исправилась, появилась осанка, исчез страх высоты и пр. Спасибо огромное тренерам Коноваловой Дарье и Лапику Артему.

      img(src=require("../img/btn-next-dark.png"), style="display: none")
    .row.video-reviews
      .col-12
        h2.text--center.wow.fadeIn(data-wow-delay="0.5s") Видео отзывы о нас
        h5.subtitle.text--center родителей и детей
      .w-100
      .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
        .owl-carousel.video-reviews-carousel
          .video-container.video_wrapper.video_wrapper_full.js-videoWrapper
            iframe.videoIframe.js-videoIframe(data-src='https://www.youtube.com/embed/aAcVDH7fuLg?rel=0&amp;showinfo=0&modestbranding=1&autoplay=1', frameborder='0', allow='encrypted-media', allowfullscreen)
            button.videoPoster.videoPoster-2.js-videoPoster
          .video-container.video_wrapper.video_wrapper_full.js-videoWrapper
            iframe.videoIframe.js-videoIframe(data-src='https://www.youtube.com/embed/bsO0CD8hif4?rel=0&amp;showinfo=0&modestbranding=1&autoplay=1', frameborder='0', allow='encrypted-media', allowfullscreen)
            button.videoPoster.videoPoster-3.js-videoPoster
