section.training-program-wrapper
  .container
    .row
      .col-12
        .obtain-estimate
          .obtain-estimate__img-mobile
            picture
              source(data-srcset=require("../img/aspects-girl-mobile.webp"), type="image/webp",
                  media='(max-width: 767px)')
              source(data-srcset=require("../img/aspects-girl-mobile.png"),
                  media='(max-width: 767px)')
              img.aspects-girl.lazyload(src="")
          .obtain-estimate__text
            h3 Получите оценку физического развития вашего ребенка
            p Для этого Вам нужно записать его на пробное занятие
            button(data-modal="#obtain-estimate") Записаться
          .obtain-estimate__img
            picture
              source(data-srcset=require("../img/obtain-estimate.webp"), type="image/webp")
              img.lazyload(data-src=require("../img/obtain-estimate.png"))
      .w-100
      .col-12.bg--dark.wow.fadeIn(data-wow-delay="0.5s")
        h2.text--center.wow.fadeIn Программа занятий
        h5.subtitle.text--center Основные блоки

        .owl-carousel.training-program-carousel
          div.text--center.training-program-item
            p.slide-title <span>01.</span> Упражнения на полосе препятствий для развития координации, баланса силы
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-1.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-1.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>02.</span> Силовые упражнения на брусьях, кольцах, перекладине
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-2.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-2.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>03.</span> Выполнение развивающих заданий с различными предметами
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-3.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-3.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>04.</span> Изучение увлекательных гимнастических элементов
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-4.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-4.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>05.</span> Комплексные упражнения для укрепления мускулатуры
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-5.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-5.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>06.</span> Упражнения на батуте для развития координации и силы
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-6.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-6.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>07.</span> Тренировка баланса и смелости на бревне, шведской стенке
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-7.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-7.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>08.</span> Развитие гибкости и формирование правильной осанки
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-8.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-8.jpg"))
          div.text--center.training-program-item
            p.slide-title <span>09.</span> Функциональные игры в поролоновой яме.
            picture
              source.owl-lazy(data-src=require("../img/training-program/slide-9.webp"), type="image/webp")
              img.owl-lazy(data-src=require("../img/training-program/slide-9.jpg"))
        .row.training-program__button
          .col-12.text--center
            button.sign-up(data-modal="#obtain-estimate", data-modal-text-button="Записаться"
                data-modal-title="Записаться на занятия") Записаться
            img(src=require("../img/btn-next.png"), style="display: none")
