@function rem($px) {
  @return $px / 16px+0rem;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0){
  background-position: $x $y;
  width: $width;
  height: $height;
}
