.webp {
  .about-wrapper {
    background: url("./img/bg-about.webp") 0 33px no-repeat;
    @media (max-width: 991px) {
      background: url("./img/bg-about-mobile.webp") no-repeat;
      background-position-y: 265px;
      background-size: 100% 100%;
    }
    @media (max-width: 575px) {
      background-size: 100% 73%;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      margin-top: -960px;
      background-position-y: 200px;
    }
    @media (min-width: 425px) and (max-width: 575px) {
      background-position-y: 320px;
    }
  }
}

.no-webp {
  .about-wrapper {
    background: url("./img/bg-about.png") 0 33px no-repeat;
    @media (max-width: 991px) {
      background: url("./img/bg-about-mobile.png") no-repeat;
      background-position-y: 265px;
      background-size: 100% 100%;
    }
    @media (max-width: 575px) {
      background-size: 100% 73%;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      margin-top: -960px;
      background-position-y: 200px;
    }
    @media (min-width: 425px) and (max-width: 575px) {
      background-position-y: 320px;
    }
  }
}

.about-wrapper {
  position: relative;
  background-size: cover;
  margin-top: -895px;
  @media (max-width: 1440px) {
    margin-top: -940px;
  }
  @media (max-width: 991px) {
    margin-top: -1015px;
  }

  .about-top {
    z-index: 10;
    margin-bottom: 180px;
    @media (max-width: 1440px) {
      margin-bottom: 70px;
    }
    @media (max-width: 1366px) {
      margin-bottom: 30px;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      margin-bottom: 150px;
    }

    &__text {
      max-width: 500px;
      line-height: 1.2;
      font-size: 2.888rem;
      font-weight: bold;
      @media (max-width: 1440px) {
        max-width: 450px;
        font-size: 2.588rem;
      }
      @media (max-width: 1366px) {
        margin-bottom: 0.5rem;
      }
      @media (max-width: 575px) {
        font-size: 1.333rem;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        max-width: 400px;
        font-size: 2.222rem;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        max-width: 270px;
        font-size: 1.777rem;
      }
      @media (min-width: 425px) and (max-width: 575px) {
        font-size: 1.555rem;
      }

      span {
        font-size: 4.333rem;
        color: var(--main-text-color-active);
        @media (max-width: 1440px) {
          font-size: 3.733rem;
        }
        @media (max-width: 575px) {
          font-size: 1.333rem;
          text-transform: lowercase;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 3.111rem;
        }
        @media (min-width: 576px) and (max-width: 767px) {
          font-size: 1.999rem;
        }
        @media (min-width: 425px) and (max-width: 575px) {
          font-size: 2.222rem;
        }
      }

      button.link {
        font-size: 1.111rem;
        @media (min-width: 576px) and (max-width: 991px) {
          font-size: 0.777rem;
        }
        @media (max-width: 575px) {
          font-size: 0.777rem;
          text-align: left;
          max-width: 160px;
          text-decoration: underline;
          border-bottom: none;
        }
      }
    }
  }

  .form-wrapper {
    opacity: 0;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 55px;
    margin-bottom: 115px;
    @media (max-width: 1366px) {
      padding: 30px 55px;
    }
    @media (max-width: 1199px) {
      margin-bottom: 75px;
    }
    @media (max-width: 575px) {
      max-width: 395px;
      margin: 340px auto 65px;
      padding: 60px 15px;
      text-align: center;
    }
    @media (max-width: 425px) {
      max-width: 290px;
    }

    h3 {
      @media (max-width: 575px) {
        text-align: center;
        margin-bottom: 25px;
      }
    }

    .form-item {
      width: 100%;
      height: 42px;
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
      @media (min-width: 576px) and (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    button.form-item {
      @media (min-width: 576px) and (max-width: 1199px) {
        min-width: auto;
        margin-bottom: 0;
      }
    }

    .form-policy {
      display: flex;
      align-items: baseline;
      margin-top: 25px;
      @media (max-width: 991px) {
        align-items: normal;
      }

      label {
        margin-bottom: 0;
        font-size: 0.777rem;
        color: #707a84;
        font-weight: 500;

        @media (min-width: 576px) and (max-width: 991px) {
          font-size: 0.777rem;
        }
        @media (max-width: 575px) {
          color: #707a84;
          font-size: 0.722rem;
          text-align: left;
        }
      }

      a {
        text-decoration: underline;
        color: #707a84;
        &:hover {
          color: var(--main-text-color-active)
        }
      }
    }

    .foto-girl {
      position: absolute;
      max-width: 345px;
      top: -702px;
      right: 135px;
      @media (max-width: 1440px) {
        max-width: 255px;
        top: -517px;
        right: 200px;
      }
      @media (max-width: 1366px) {
        max-width: 235px;
        top: -481px;
        right: 218px;
      }
      @media (max-width: 991px) {
        max-width: 215px;
        right: 118px;
        top: -440px;
      }
      @media (max-width: 575px) {
        height: 465px;
        max-width: 195px;
        transform: scale(-1, 1);
        right: 40px;
        top: -424px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        right: 140px;
      }
      @media (min-width: 425px) and (max-width: 575px) {
        right: 70px;
      }
    }
  }

  .about-content {
    margin-bottom: 115px;
    @media (max-width: 991px) {
      margin-bottom: 65px;
    }

    &__img {
      padding-left: 50px;
      @media (max-width: 991px) {
        order: 1;
        padding-left: 15px;
      }
      @media (max-width: 575px) {
        text-align: center;
        &_mobile {
          margin-top: 20px;
          width: 100%;
          max-width: 472px;
        }
      }
      @media (min-width: 576px) and (max-width: 991px) {
        img {
          margin-bottom: 15px;
        }
      }
    }
  }

  .float-img {
    position: absolute;

    &__1 {
      left: 0;
      bottom: -50px;
      @media (max-width: 1800px) {
        max-width: 450px;
        bottom: -80px;
      }
      @media (max-width: 1600px) {
        max-width: 370px;
      }
      @media (max-width: 1480px) {
        max-width: 300px;
      }
    }

    &__2 {
      right: 0;
      bottom: -200px;
      @media (max-width: 1800px) {
        max-width: 380px;
        bottom: -270px;
      }
      @media (max-width: 1480px) {
        max-width: 300px;
        bottom: -250px;
      }
      @media (max-width: 991px) {
        bottom: -325px;
        padding: 15px;
        border-radius: 25px;
      }
    }
  }
}
