.footer {

  &__top {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #414C54;
    @media (max-width: 991px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    @media (max-width: 767px) {
      background: url("./img/footer.png") center 377px no-repeat, #414C54;
      text-align: center;
      padding-bottom: 330px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 12px;
      @media (max-width: 767px) {
        font-size: 1.111rem;
      }
    }

    p {
      margin-bottom: 45px;
      @media (max-width: 767px) {
        font-size: 0.777rem;
        margin-bottom: 22px;
      }
    }

    .footer-img {
      position: absolute;
      right: -200px;
      bottom: -170px;
      @media (max-width: 1199px) {
        max-width: 900px;
        bottom: -160px;
      }
      @media (max-width: 991px) {
        max-width: 700px;
        right: -255px;
        bottom: -115px;
      }
    }

    .footer-img-mobile {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -380px;
      margin: auto;
    }
  }

  &__bottom-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #1f2630;
    @media (max-width: 767px) {
      padding-top: 65px;
      padding-bottom: 55px;
    }

    .footer-bottom {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .footer__logo-img svg {
        fill: #fff;
        height: 50px;
        @media (max-width: 991px) {
          height: 40px;
        }
      }

      .footer-logo-wrapper {
        @media (max-width: 767px) {
          text-align: center;
        }
      }

      .developer-info-wrapper {
        display: flex;
        justify-content: center;
        @media (max-width: 767px) {
          order: 1;
        }

        .footer__logo {
          display: flex;
          justify-content: space-around;
          align-items: center;
          @media (min-width: 768px) and (max-width: 991px) {
            flex-direction: column-reverse;
          }

          &:hover {
            text-decoration: none;
          }

          .link {
            margin-right: 15px;
            @media (min-width: 768px) and (max-width: 991px) {
              margin-top: 3px;
              margin-right: 0;
              font-size: 0.777rem;
            }
          }
        }
      }

      .info-wrapper {
        text-align: right;
        @media (max-width: 767px) {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          margin-top: 25px;
        }
      }

      .info {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 767px) {
          position: relative;
          margin-top: 25px;
          flex-direction: row;
          align-items: flex-start;
        }

        &__phone {
          font-weight: 600;
          font-size: 1.333rem;
          height: 1.333rem;
          margin-bottom: 10px;
          display: flex;
          align-items: baseline;
          justify-content: flex-end;
          @media (max-width: 767px) {
            font-size: 1rem;
            margin-right: 30px;
            margin-bottom: 0;
          }

          &:hover {
            text-decoration: none;

            svg {
              fill: red
            }
          }

          svg {
            height: 16px;
            width: 16px;

            @media (max-width: 575px) {
              height: 12px;
              width: 12px;
            }
          }

        }
      }
    }
  }
}
