.webp {
  header {
    .container {
      background: url("./img/bg-header.webp") right top no-repeat;
      @media (max-width: 1440px) {
        background-size: 630px auto;
        background-position: 89% 20px;
      }
      @media (min-width: 576px) and (max-width: 991px) {
        background-size: 530px auto;
        background-position: 89% 100px;
      }
      @media (max-width: 575px) {
        background: url("./img/bg-header-mobile.png") right top no-repeat;
        background-size: 100% auto;
        transform: scale(-1, 1);
        background-position: 5px 280px;
      }
    }
  }
}

.no-webp {
  header {
    .container {
      background: url("./img/bg-header.png") right top no-repeat;
      @media (max-width: 1440px) {
        background-size: 630px auto;
        background-position: 89% 20px;
      }
      @media (min-width: 576px) and (max-width: 991px) {
        background-size: 530px auto;
        background-position: 89% 100px;
      }
      @media (max-width: 575px) {
        background: url("./img/bg-header-mobile.png") right top no-repeat;
        background-size: 100% auto;
        transform: scale(-1, 1);
        background-position: 5px 280px;
      }
    }
  }
}

header {
  background: url("./img/bg-header-girl.png") no-repeat;
  padding-top: 45px;
  min-height: 1200px;
  @media (min-width: 576px) and (max-width: 991px) {
    background-size: 450px;
    background-position-x: -50px;
  }
  @media (max-width: 575px) {
    padding-top: 30px;
    transform: scale(-1, 1);
    background-size: 330px;
    background-position-x: -30px;
  }
  @media (min-width: 991px) and (max-width: 1280px) {
    padding-top: 25px;
    background-position-x: -100px;
  }

  .container {
    background-size: 730px auto;
  }

  .header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 450px;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .logo {
      @media (max-width: 575px) {
        max-width: 212px;
        margin-bottom: 20px;
      }
      @media (min-width: 576px) and (max-width: 991px) {
        max-width: 262px;
      }
    }

    .info {
      position: relative;
      right: 0;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 575px) {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
      }

      &__phone {
        font-weight: 600;
        font-size: 1.333rem;
        height: 1.333rem;
        margin-bottom: 10px;
        display: flex;
        align-items: baseline;
        @media (max-width: 575px) {
          font-size: 1rem;
          margin-right: 30px;
        }

        &:hover {
          text-decoration: none;
          color: var(--main-text-color);

          svg {
            fill: red
          }
        }

        svg {
          height: 16px;
          width: 16px;
          @media (max-width: 575px) {
            height: 12px;
            width: 12px;
          }
        }

      }
    }
  }
}
