@import "./mixins.scss";

.webp .our-coaches-wrapper {
  background: url("./img/bg-our-coaches.webp") left bottom no-repeat, #f6f6f6;
  @media (max-width: 767px) {
    background: #f6f6f6;
  }
}

.no-webp .our-coaches-wrapper {
  background: url("./img/bg-our-coaches.png") left bottom no-repeat, #f6f6f6;
  @media (max-width: 767px) {
    background: #f6f6f6;
  }
}

.our-coaches-wrapper {
  margin-top: -45px;
  padding-top: 145px;
  padding-bottom: 145px;

  @media (max-width: 767px) {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 60px;
    background: #f6f6f6;
  }

  &_desktop {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &_mobile {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }

    .col-12 {
      padding: 0;
    }
  }

  .title {
    margin-bottom: 25px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  p {
    @media (max-width: 767px) {
      font-size: 0.777rem;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }

  .our-coaches-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &__item {
      width: 109px;
      height: 109px;
      margin-bottom: 5px;
      border-radius: 10px;
      filter: grayscale(100%);
      box-shadow: 0 0 8px 0 rgba(26, 26, 26, 0.14);

      &:hover {
        z-index: 10;
        filter: grayscale(0%);
        box-shadow: 0 0 0 10px var(--main-text-color-active), 0 0 0 25px rgba(255, 255, 255, .6), 0 0 0 45px rgba(255, 255, 255, .4);
        transition: box-shadow .3s, filter .6s;
      }
    }
  }

  .our-coaches-carousel {
    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 15px;

      .our-coaches-img-wrapper {
        display: flex;
        width: 33%;
        justify-content: center;

        .our-coaches-img__item {
          width: 90px !important;
          height: 90px !important;
          @media (min-width: 390px) {
            width: 109px !important;
            height: 109px !important;
            margin-bottom: 15px;
          }

          &:hover {
            z-index: 100;
            filter: grayscale(0%);
            box-shadow: 0 0 0 5px var(--main-text-color-active), 0 0 0 7px rgba(255, 255, 255, 0.6), 0 0 0 20px rgba(255, 255, 255, 0.4);
            transition: box-shadow .3s, filter .6s;
          }
        }
      }
    }

    .owl-nav {
      position: relative;

      .owl-prev,
      .owl-next {
        position: absolute;
        top: -3px;

        img {
          max-width: 25px;
        }
      }

      .owl-prev {
        left: 5px;
      }

      .owl-next {
        right: 5px;
      }
    }

    .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: var(--main-text-color-active);
      }

      span {
        background: var(--subtitle-color);
      }
    }
  }
}

/* sprite-coaches */
.webp .sprite-coaches {
  background-image: url("./img/spritecoaches.webp");
}

.no-webp .sprite-coaches{
  background-image: url("./img/spritecoaches.png");
}

.sprite-coaches {
  background-repeat: no-repeat;
  display: block;

  &.sprite-coach-1 {
    @include stitches-sprite(-5px, -5px, 109px, 109px);
  }

  &.sprite-coach-10 {
    @include stitches-sprite(-124px, -5px, 109px, 109px);
  }

  &.sprite-coach-11 {
    @include stitches-sprite(-243px, -5px, 109px, 109px);
  }

  &.sprite-coach-12 {
    @include stitches-sprite(-362px, -5px, 109px, 109px);
  }

  &.sprite-coach-13 {
    @include stitches-sprite(-481px, -5px, 109px, 109px);
  }

  &.sprite-coach-14 {
    @include stitches-sprite(-600px, -5px, 109px, 109px);
  }

  &.sprite-coach-15 {
    @include stitches-sprite(-719px, -5px, 109px, 109px);
  }

  &.sprite-coach-16 {
    @include stitches-sprite(-5px, -124px, 109px, 109px);
  }

  &.sprite-coach-17 {
    @include stitches-sprite(-124px, -124px, 109px, 109px);
  }

  &.sprite-coach-18 {
    @include stitches-sprite(-243px, -124px, 109px, 109px);
  }

  &.sprite-coach-19 {
    @include stitches-sprite(-362px, -124px, 109px, 109px);
  }

  &.sprite-coach-2 {
    @include stitches-sprite(-481px, -124px, 109px, 109px);
  }

  &.sprite-coach-20 {
    @include stitches-sprite(-600px, -124px, 109px, 109px);
  }

  &.sprite-coach-21 {
    @include stitches-sprite(-719px, -124px, 109px, 109px);
  }

  &.sprite-coach-22 {
    @include stitches-sprite(-5px, -243px, 109px, 109px);
  }

  &.sprite-coach-23 {
    @include stitches-sprite(-124px, -243px, 109px, 109px);
  }

  &.sprite-coach-24 {
    @include stitches-sprite(-243px, -243px, 109px, 109px);
  }

  &.sprite-coach-25 {
    @include stitches-sprite(-362px, -243px, 109px, 109px);
  }

  &.sprite-coach-26 {
    @include stitches-sprite(-481px, -243px, 109px, 109px);
  }

  &.sprite-coach-27 {
    @include stitches-sprite(-600px, -243px, 109px, 109px);
  }

  &.sprite-coach-28 {
    @include stitches-sprite(-719px, -243px, 109px, 109px);
  }

  &.sprite-coach-29 {
    @include stitches-sprite(-5px, -362px, 109px, 109px);
  }

  &.sprite-coach-3 {
    @include stitches-sprite(-124px, -362px, 109px, 109px);
  }

  &.sprite-coach-30 {
    @include stitches-sprite(-243px, -362px, 109px, 109px);
  }

  &.sprite-coach-31 {
    @include stitches-sprite(-362px, -362px, 109px, 109px);
  }

  &.sprite-coach-32 {
    @include stitches-sprite(-481px, -362px, 109px, 109px);
  }

  &.sprite-coach-33 {
    @include stitches-sprite(-600px, -362px, 109px, 109px);
  }

  &.sprite-coach-34 {
    @include stitches-sprite(-719px, -362px, 109px, 109px);
  }

  &.sprite-coach-35 {
    @include stitches-sprite(-5px, -481px, 109px, 109px);
  }

  &.sprite-coach-36 {
    @include stitches-sprite(-124px, -481px, 109px, 109px);
  }

  &.sprite-coach-37 {
    @include stitches-sprite(-243px, -481px, 109px, 109px);
  }

  &.sprite-coach-38 {
    @include stitches-sprite(-362px, -481px, 109px, 109px);
  }

  &.sprite-coach-39 {
    @include stitches-sprite(-481px, -481px, 109px, 109px);
  }

  &.sprite-coach-4 {
    @include stitches-sprite(-600px, -481px, 109px, 109px);
  }

  &.sprite-coach-40 {
    @include stitches-sprite(-719px, -481px, 109px, 109px);
  }

  &.sprite-coach-41 {
    @include stitches-sprite(-5px, -600px, 109px, 109px);
  }

  &.sprite-coach-42 {
    @include stitches-sprite(-124px, -600px, 109px, 109px);
  }

  &.sprite-coach-43 {
    @include stitches-sprite(-243px, -600px, 109px, 109px);
  }

  &.sprite-coach-44 {
    @include stitches-sprite(-362px, -600px, 109px, 109px);
  }

  &.sprite-coach-45 {
    @include stitches-sprite(-481px, -600px, 109px, 109px);
  }

  &.sprite-coach-46 {
    @include stitches-sprite(-600px, -600px, 109px, 109px);
  }

  &.sprite-coach-47 {
    @include stitches-sprite(-719px, -600px, 109px, 109px);
  }

  &.sprite-coach-48 {
    @include stitches-sprite(-5px, -719px, 109px, 109px);
  }

  &.sprite-coach-49 {
    @include stitches-sprite(-124px, -719px, 109px, 109px);
  }

  &.sprite-coach-5 {
    @include stitches-sprite(-243px, -719px, 109px, 109px);
  }

  &.sprite-coach-50 {
    @include stitches-sprite(-362px, -719px, 109px, 109px);
  }

  &.sprite-coach-51 {
    @include stitches-sprite(-481px, -719px, 109px, 109px);
  }

  &.sprite-coach-52 {
    @include stitches-sprite(-600px, -719px, 109px, 109px);
  }

  &.sprite-coach-53 {
    @include stitches-sprite(-719px, -719px, 109px, 109px);
  }

  &.sprite-coach-54 {
    @include stitches-sprite(-838px, -5px, 109px, 109px);
  }

  &.sprite-coach-55 {
    @include stitches-sprite(-838px, -124px, 109px, 109px);
  }

  &.sprite-coach-56 {
    @include stitches-sprite(-838px, -243px, 109px, 109px);
  }

  &.sprite-coach-57 {
    @include stitches-sprite(-838px, -362px, 109px, 109px);
  }

  &.sprite-coach-58 {
    @include stitches-sprite(-838px, -481px, 109px, 109px);
  }

  &.sprite-coach-59 {
    @include stitches-sprite(-838px, -600px, 109px, 109px);
  }

  &.sprite-coach-6 {
    @include stitches-sprite(-838px, -719px, 109px, 109px);
  }

  &.sprite-coach-60 {
    @include stitches-sprite(-5px, -838px, 109px, 109px);
  }

  &.sprite-coach-7 {
    @include stitches-sprite(-124px, -838px, 109px, 109px);
  }

  &.sprite-coach-8 {
    @include stitches-sprite(-243px, -838px, 109px, 109px);
  }

  &.sprite-coach-9 {
    @include stitches-sprite(-362px, -838px, 109px, 109px);
  }
}
/* /sprite-coaches */
