.our-classes-wrapper {
  padding-top: 150px;
  padding-bottom: 290px;
  background: url("./img/bg-our-classes-1.png") top left no-repeat,
    url("./img/bg-our-classes-2.png") bottom left no-repeat,
    url("./img/bg-our-classes-3.png") center right no-repeat,
    url("./img/bg-our-classes-4.png") center left no-repeat;
  @media (max-width: 991px) {
    padding-top: 100px;
    background: url("./img/bg-our-classes-1_mobile.png") 100% 0 / 600px no-repeat;
  }
  @media (max-width: 767px) {
    background: url("./img/bg-our-classes-1_mobile.png") 100% 40px / 100% no-repeat,
      url("./img/bg-our-classes-3.png") 100% 46% / 100% no-repeat;
  }
  @media (max-width: 575px) {
    padding-top: 0;
  }

  .workout-wrapper {
    margin-bottom: 140px;
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
  }

  .workout {
    display: flex;
    @media (max-width: 991px) {
      margin-bottom: 25px;
    }

    &__icon {
      margin-right: 30px;
      svg {
        width: auto;
        height: 65px;
        fill: var(--main-text-color-active);

        &:hover {
          fill: var(--main-text-color);
        }
      }
    }
  }

  .our-classes {
    margin-bottom: 80px;
    @media (max-width: 991px) {
      margin-bottom: 19px;
    }

    .title {
      margin-bottom: 80px;
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
    }

    .video-container {
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
    }

    .formatted__text li::before {
      content: "";
      padding-right: 0;
    }
  }

  .our-classes-btn {
    margin-bottom: 120px;
    @media (max-width: 767px) {
      margin-bottom: 350px;
    }
  }

  .aspects-development-block {
    position: relative;

    .aspects-girl {
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 600px;

      @media (max-width: 1199px) {
        max-width: 500px;
      }
    }
  }

  .aspects-development {
    position: relative;
    display: flex;
    min-height: 355px;
    margin-bottom: 30px;
    color: #fff;
    padding: 45px 40px;
    border-radius: 10px;
    @media (max-width: 991px) {
      padding: 35px 20px;
      flex-direction: column;
      min-height: 255px;
    }
    @media (max-width: 767px) {
      min-height: auto;
    }

    &::before {
      content: '';
      font-size: 260px;
      color: rgba(255, 255, 255, 0.102);
      font-weight: bold;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @media (max-width: 991px) {
        display: none;
      }
    }

    &::after {
      display: none;
      @media (max-width: 991px) {
        display: block;
        content: '';
        font-size: 200px;
        color: rgba(255, 255, 255, 0.102);
        font-weight: bold;
        position: absolute;
        bottom: -100px;
        right: -10px;
      }
    }

    .mobile-title {
      display: none;
      font-size: 1rem;
      margin-bottom: 15px;
      font-weight: bold;

      @media (max-width: 991px) {
        display: block;
      }
    }

    ul {
      margin-bottom: 0;
      font-size: 0.888rem;
      line-height: 1.2;


      @media (max-width: 991px) {
        padding-left: 15px;
        font-size: 0.777rem;
      }

      li {
        margin-bottom: 10px;

        @media (max-width: 991px) {
          margin-bottom: 5px;
        }
      }
    }

    &__physical {
      background-color: #EF223C;

      &::before {
        content: 'Ф';
        left: 25px;
      }

      &::after {
        content: 'Ф';
      }

      ul {
        max-width: 270px;
      }
    }
    &__intellectual {
      justify-content: flex-end;
      background-color: #46505a;
      @media (max-width: 991px) {
        justify-content: flex-start;
      }

      &::before {
        content: 'И';
        right: 25px;
      }

      &::after {
        content: 'И';
        right: -14px;
      }

      ul {
        padding-right: 30px;
      }
    }
    &__social {
      justify-content: flex-end;
      align-items: flex-end;
      background-color: #f04244;
      @media (max-width: 991px) {
        align-items: flex-start;
        justify-content: flex-start;
      }

      &::before {
        content: 'С';
        right: 25px;
      }

      &::after {
        content: 'С';
      }

      ul {
        padding-right: 30px;
      }
    }
    &__psychological {
      align-items: flex-end;
      background-color: #282f37;
      @media (max-width: 991px) {
        align-items: flex-start;
      }

      &::before {
        content: 'П';
        left: 25px;
      }

      &::after {
        content: 'П';
        right: -14px;
      }
    }
  }

  .aspects-development__psychological-wrapper {
    @media (max-width: 991px) {
      order: 10;
    }
  }
}