.our-location-wrapper {
  margin-top: -770px;
  background: url("./img/bg-our-location.png") 100% 350px no-repeat, #f6f6f6;
  @media (max-width: 991px) {
    background-position-x: 160%;
  }
  @media (max-width: 767px) {
    margin-top: -170px;
    background-position: right top;
    background-size: 75%;
  }
  @media (max-width: 767px) {
    background-position-y: 100px;
  }

  .title {
    margin-top: 770px;
    @media (max-width: 767px) {
      margin-top: 220px;
    }
  }

  #map {
    width: 100%;
    height: 475px;
  }

  .map-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }

    .address-menu-wrapper {
      direction: rtl;
      width: 50%;
      height: 420px;
      overflow-y: scroll;
      align-items: center;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 50px;
        height: 325px;
      }

      &::-webkit-scrollbar-track
      {
        border-radius: 10px;
        background-color: #cacfd3;
      }

      &::-webkit-scrollbar
      {
        width: 12px;
        border-radius: 10px;
        background-color: #cacfd3;
      }

      &::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        background-color: #46505a;
      }

      .menu-address {
        list-style: none;
        padding-left: 35px;
        @media (max-width: 767px) {
          font-size: 0.888rem;
          padding-left: 18px;
          padding-right: 0;
        }

        &__item {
          direction: ltr;
          display: flex;
          flex-direction: column;
          align-items: end;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            margin-bottom: 10px;
            @media (max-width: 767px) {
              font-size: 0.777rem;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .title {
              font-size: 1.333rem;
              font-weight: 600;
              line-height: 1.2;
              margin-right: 5px;
              @media (max-width: 767px) {
                font-size: 0.888rem;
              }
            }

            a {
              font-size: 0.888rem;
              color: rgb(161, 168, 174);
              text-decoration: underline;
              @media (max-width: 767px) {
                font-size: 0.722rem;
              }

              &:hover {
                color: var(--main-text-color-active);
              }
            }
          }
        }
      }
    }

    .map {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}
