.reviews-wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
  background: url("./img/bg-reviews.png") left center no-repeat;
  @media(max-width: 767px) {
    transform: scale(-1, 1);
    padding-top: 55px;
    padding-bottom: 70px;
  }
  @media(max-width: 575px) {
    background-size: 400px;
    background-position-x: -70px;
  }

  .container {
    @media(max-width: 767px) {
      transform: scale(-1, 1);
    }
  }

  h2 {
    @media(max-width: 575px) {
      font-size: 1.111rem;
    }
  }

  .video-reviews {
    h2 {
      margin-bottom: 15px;
      @media(max-width: 767px) {
        margin-bottom: 5px;
      }
    }
    .subtitle {
      color: var(--subtitle-color);
      margin-bottom: 70px;
      @media(max-width: 767px) {
        margin-bottom: 25px;
      }
    }

    .video-reviews-carousel {
      .owl-nav {
        position: absolute;
        top: 40%;
        left: -60px;
        right: -60px;
        @media (max-width: 767px) {
          display: none;
        }

        .owl-prev,
        .owl-next {
          position: absolute;
          min-width: 55px;

          &:focus {
            outline: none;
          }

          img {
            max-width: 55px;
            opacity: .4;
            @media (max-width: 1199px) {
              max-width: 45px;
            }
            @media (max-width: 991px) {
              max-width: 35px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .owl-dots {
        text-align: center;
        margin-top: 20px;
      }
    }
  }

  .reviews-carousel {
    margin-bottom: 110px;
    @media(max-width: 767px) {
      margin-bottom: 40px;
    }

    .reviews-item {
      display: flex;
      justify-content: center;
      max-width: 970px;
      margin: 0 auto 50px;
      @media(max-width: 767px) {
        flex-direction: column;
        margin-bottom: 0;
      }

      &__img {
        min-width: 170px;
        @media(max-width: 767px) {
          margin: 0 auto;
        }

        img {
          max-width: 170px;
          border-radius: 10px;
          margin-bottom: 15px;
          @media(max-width: 575px) {
            max-width: 135px;
            margin: 0 auto 15px;
          }
        }

        .author {
          font-weight: bold;
          margin-bottom: 5px;
          @media(max-width: 575px) {
            font-size: 0.888rem;
            margin-bottom: 0;
          }
        }

        .relatives {
          @media(max-width: 575px) {
            font-size: 0.777rem;
          }
        }
      }

      &__text {
        display: flex;
        text-align: left;
        @media(max-width: 767px) {
          flex-direction: column;
        }

        .slide-title {
          font-size: 1.111rem;
          font-weight: bold;
          @media(max-width: 991px) {
            font-size: 0.944rem;
          }

          span {
            padding-left: 35px;
            font-size: 1rem;
            color: #46505a;
            font-weight: normal;
            @media(max-width: 991px) {
              display: block;
              padding-left: 0;
              font-size: 0.722rem;
              font-weight: 500;
            }
          }
        }

        .slide-text {
          color: #707a84;
          @media(max-width: 991px) {
            font-size: 0.777rem;
          }
        }

        &::before {
          content: url("./img/reviews/quotes.png");
          padding-left: 12px;
          padding-right: 12px;
          @media(max-width: 767px) {
            padding: 0;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 25%;
      left: 0;
      right:0;
      @media (max-width: 767px) {
        top: 10%;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
        min-width: 55px;

        &:focus {
          outline: none;
        }

        img {
          max-width: 55px;
          opacity: .4;
          @media (max-width: 1199px) {
            max-width: 45px;
          }
          @media (max-width: 991px) {
            max-width: 35px;
          }
          @media (max-width: 767px) {
            max-width: 30px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .owl-prev {
        left: -140px;
        img {
          transform: rotate(-180deg);
        }
        @media (max-width: 1440px) {
          left: -90px;
        }
        @media (max-width: 1280px) {
          left: -70px;
        }
        @media (max-width: 991px) {
          left: -50px;
        }
        @media (max-width: 767px) {
          left: 0;
        }
      }
      .owl-next {
        right: -140px;
        position: absolute;
        @media (max-width: 1440px) {
          right: -90px;
        }
        @media (max-width: 1280px) {
          right: -70px;
        }
        @media (max-width: 991px) {
          right: -50px;
        }
        @media (max-width: 767px) {
          right: 0;
        }
      }
    }

    .owl-dots {
      text-align: center;
    }
    .owl-dots .owl-dot {
      min-width: auto;

      &:focus {
        outline: none;
      }

      &.active span, &:hover span {
        background: var(--main-text-color-active);
      }

      span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
        background: var(--main-text-color);
      }
    }
  }
}