.webp {
  .training-program-wrapper {
    background-image: url("./img/bg-training-program.webp");
    @media (max-width: 767px) {
      background-image: url("./img/bg-training-program-mobile.webp");
    }
  }
}

.no-webp {
  .training-program-wrapper {
    background-image: url("./img/bg-training-program.png");
    @media (max-width: 767px) {
      background-image: url("./img/bg-training-program-mobile.png");
    }
  }
}

.training-program-wrapper {
  position: relative;
  background-size: 111% 100%;
  background-repeat: no-repeat;
  padding-top: 270px;
  @media (max-width: 767px) {
    background-position-y: 100px;
    background-size: 100% 89%;
  }

  h2 {
    margin-bottom: 15px;

    @media (max-width: 991px) {
      margin-top: -50px;
    }
    @media (max-width: 767px) {
      margin-top: 50px;
    }
  }

  .subtitle {
    color: var(--subtitle-color);
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .training-program-carousel {
    margin-bottom: 60px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    .training-program-item {

      img {
        max-width: 100%;
        height: 570px;
        width: auto;
        margin: 0 auto;
        border-radius: 10px;
        @media (max-width: 1199px) {
          height: 480px;
        }
        @media (max-width: 991px) {
          height: 370px;
        }
        @media (max-width: 767px) {
          height: 340px;
        }
        @media (max-width: 575px) {
          height: 220px;
        }
        @media (max-width: 425px) {
          height: 140px;
        }
      }

      .slide-title {
        margin-bottom: 30px;
        @media (max-width: 767px) {
          font-size: 0.777rem;
        }

        span {
          font-weight: bold;
        }
      }
    }

    .owl-nav {
      position: absolute;
      top: 50%;
      left: 0;
      right:0;
      @media (max-width: 767px) {
        top: 55%;
      }
      @media (max-width: 425px) {
        top: 60%;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
        min-width: 55px;

        &:focus {
          outline: none;
        }

        img {
          max-width: 55px;
          opacity: .7;
          @media (max-width: 767px) {
            max-width: 30px;
          }
          @media (max-width: 425px) {
            max-width: 20px;
          }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }

      .owl-prev {
        left: -140px;
        img {
          transform: rotate(-180deg);
        }
        @media (max-width: 1440px) {
          left: -30px;
        }
        @media (max-width: 1199px) {
          left: -20px;
        }
        @media (min-width: 630px) and (max-width: 767px) {
          left: -60px;
        }
        @media (min-width: 576px) and (max-width: 629px) {
          left: -40px;
        }
      }
      .owl-next {
        right: -140px;
        position: absolute;
        @media (max-width: 1440px) {
          right: -30px;
        }
        @media (max-width: 1199px) {
          right: -20px;
        }
        @media (min-width: 630px) and (max-width: 767px) {
          right: -60px;
        }
        @media (min-width: 576px) and (max-width: 629px) {
          right: -40px;
        }
      }
    }
  }

  .training-program__button {
    margin-bottom: 260px;
    @media (max-width: 991px) {
      margin-bottom: 200px;
    }
    @media (max-width: 767px) {
      margin-bottom: 80px;
    }

    button.sign-up {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;
      width: 230px;
      margin: auto;
    }
  }
}

.obtain-estimate {
  position: relative;
  max-width: 1030px;
  margin: -410px auto 0 auto;
  padding: 45px 100px;
  background-color: #F6F6F6;
  border-radius: 10px;
  @media (max-width: 991px) {
    padding: 45px 15px;
  }
  @media (max-width: 767px) {
    padding-bottom: 250px;
  }

  &__img-mobile {
    width: 300px;
    position: absolute;
    top: -190px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__text {
    max-width: 470px;
    @media (max-width: 991px) {
      max-width: 380px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      text-align: center;
    }

    h3 {
      @media (max-width: 991px) {
        font-size: 1.111rem;
      }
    }

    p {
      margin-bottom: 32px;
      @media (max-width: 991px) {
        font-size: 0.833rem;
      }
      @media (max-width: 767px) {
        margin-bottom: 22px;
      }
    }
  }

  button {
    @media (max-width: 767px) {
      margin: 0 auto 20px;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  &__img {
    position: absolute;
    right: 100px;
    top: -51px;
    @media (max-width: 1199px) {
      right: 0;
    }
    @media (max-width: 991px) {
      top: -70px;
      right: -40px;
    }
    @media (max-width: 767px) {
      bottom: -35px;
      top: auto;
      left: 0;
      right: 0;
      max-width: 250px;
      margin: 0 auto;
    }
  }
}
