/* Segoe Script - Bold */
@font-face {
  font-family: 'Segoe Script';
  src: url('./fonts/SegoeScript-Bold.woff2') format('woff2'),
  url('./fonts/SegoeScript-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* PF BeauSans Pro - Regular */
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('./fonts/PFBeauSansPro-Regular.woff2') format('woff2'),
  url('./fonts/PFBeauSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* PF BeauSans Pro - Medium */
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('./fonts/PFBeauSansPro-Bbook.woff2') format('woff2'),
  url('./fonts/PFBeauSansPro-Bbook.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* PF BeauSans Pro - SemiBold */
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('./fonts/PFBeauSansPro-SemiBold.woff2') format('woff2'),
  url('./fonts/PFBeauSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* PF BeauSans Pro - Bold */
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('./fonts/PFBeauSansPro-Bold.woff2') format('woff2'),
  url('./fonts/PFBeauSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@import "~animate.css/source/_base.css";

@import './style/_colors.scss';
@import './style/_mixins.scss';
@import './style/_base.scss';
@import './style/header.scss';
@import './style/about.scss';
@import './style/our-classes.scss';
@import './style/training-program.scss';
@import './style/our-location.scss';
@import './style/our-coaches.scss';
@import './style/reviews.scss';
@import './style/footer.scss';
@import './style/assets/nice-select.scss';
@import '../node_modules/jquery-modal/jquery.modal.min.css';
@import './style/modals.scss';


.bg--dark {
  color: #fff !important;

  a {
    color: #fff !important;

    &:hover {
     color: var(--main-text-color-active)
    }
  }

  button.link {
    color: #fff;

    &:hover {
      color: var(--main-text-color-active)
    }
  }
}

.mb-0 {
  margin-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.w-100 {
  width: 100%!important;
}

.text {
  &--center {
    text-align: center;
  }
  &--white {
    color: #fff !important;
  }
}

.round {
  border-radius: 10px;
}

svg {
  fill: #46505a;

  &:hover {
    fill: red
  }
}

ul.formatted__text {
  @media (max-width: 991px) {
    padding-left: 0;
  }

  p {
    color: #a1a8ae;
    font-size: 0.944rem;
    @media (max-width: 767px) {
      font-size: 0.777rem;
    }
  }
  span {
    font-weight: bold;
  }

  li {
    list-style-type: none;
    display: flex;
  }
  li:before {
    color: var(--main-text-color-active);
    content: "•";
    padding-right: 12px;
  }
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  border-radius: 10px;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* nice-select */

.nice-select {
  padding-top: 3px;
  border: none;
  border-radius: 10px;
  background-color: #edefef;
  max-height: 42px;
  padding-left: 25px;

  .current {
    font-size: 1rem;
    color: #707a84;
  }

  &.open .list {
    max-height: 200px;
    overflow-y: auto;
  }
}
/* /nice-select */

/* owl-carousel */

.owl-carousel {
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    min-width: auto;

    &:focus {
      outline: none;
    }

    &.active span, &:hover span {
      background: var(--main-text-color-active);
    }

    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px;
      background: var(--main-text-color);
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right:0;
    @media (max-width: 767px) {
      top: 55%;
    }
    @media (max-width: 425px) {
      top: 60%;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      min-width: 55px;

      &:focus {
        outline: none;
      }

      img {
        max-width: 55px;
        opacity: .7;
        @media (max-width: 767px) {
          max-width: 30px;
        }
        @media (max-width: 425px) {
          max-width: 20px;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .owl-prev {
      left: -140px;
      img {
        transform: rotate(-180deg);
      }
      @media (max-width: 1440px) {
        left: -30px;
      }
      @media (max-width: 1199px) {
        left: -20px;
      }
      @media (min-width: 630px) and (max-width: 767px) {
        left: -60px;
      }
      @media (min-width: 576px) and (max-width: 629px) {
        left: -40px;
      }
    }
    .owl-next {
      right: -140px;
      position: absolute;
      @media (max-width: 1440px) {
        right: -30px;
      }
      @media (max-width: 1199px) {
        right: -20px;
      }
      @media (min-width: 630px) and (max-width: 767px) {
        right: -60px;
      }
      @media (min-width: 576px) and (max-width: 629px) {
        right: -40px;
      }
    }
  }
}
/* /owl-carousel */


/* Замена стандартной кнопки Youtube */
.webp .videoPoster {
  &-1 {
    background-image: url("./img/prev-video-1.webp");
  }

  &-2 {
    background-image: url("./img/prev-video-2.webp");
  }

  &-3 {
    background-image: url("./img/prev-video-3.webp");
  }
}

.no-webp .videoPoster {
  &-1 {
    background-image: url("./img/prev-video-1.jpeg");
  }

  &-2 {
    background-image: url("./img/prev-video-2.jpg");
  }

  &-3 {
    background-image: url("./img/prev-video-3.jpg");
  }
}

.videoPoster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  border: none;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;

  &:hover {
    cursor: pointer;
  }
}

.videoPoster:after {
  content: '';
  position: absolute;
  background-image: url("./img/play-button.png");
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms;
  width: 120px;
  height: 120px;
  @media(max-width: 767px) {
    width: 80px;
    height: 80px;
  }
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #f00;
  background-image: url("./img/play-button-active.png");
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
/* /Замена стандартной кнопки Youtube */


/* Прелоадер */
.preloader.full-width {
  position: absolute;
  z-index: 777;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.preloader-dotline .dot {
  display: inline-block;
  background: #666;
  height: 5px;
  width: 5px;
  opacity: 0;
  border-radius: 50%;
  animation: dotline-move 4s infinite;
  transform: translateX(-300px)
}

.preloader-dotline .dot:nth-child(1) {
  animation-delay: .8s;
}

.preloader-dotline .dot:nth-child(2) {
  animation-delay: .7s;
}

.preloader-dotline .dot:nth-child(3) {
  animation-delay: .6s;
}

.preloader-dotline .dot:nth-child(4) {
  animation-delay: .5s;
}

.preloader-dotline .dot:nth-child(5) {
  animation-delay: .4s;
}

.preloader-dotline .dot:nth-child(6) {
  animation-delay: .3s;
}

.preloader-dotline .dot:nth-child(7) {
  animation-delay: .2s;
}

.preloader-dotline .dot:nth-child(8) {
  animation-delay: .1s;
}

@keyframes dotline-move {
  40% {
    transform: translateX(0px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}
/* /Прелоадер */
