html(lang='ru_RU' dir="ltr")
  head
    meta(charset="utf-8")
    title Европейский Гимнастический Центр
    meta(content="Европейский Гимнастический Центр" name="description")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://lp.pride-media.ru/eg/")
    meta(property="og:title" content="Европейский Гимнастический Центр")
    meta(property="og:description" content="Европейский Гимнастический Центр")
    meta(property="og:locale" content="ru_RU")
    meta(property="og:image" content="/img/og.jpg")
    meta(property="og:image:width" content="968")
    meta(property="og:image:height" content="504")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest")
    link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css")
  body
    .preloader.full-width
      .preloader-dotline
        .dot
        .dot
        .dot
        .dot
        .dot
        .dot
        .dot
        .dot
    .wrapper#wrapper
      include /template/header
      include /template/about
      include /template/our-classes
      include /template/training-program
      include /template/our-location
      include /template/our-coaches
      include /template/reviews
      include /template/footer
      include /template/modals
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
